<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="top">
                    <ul>
                    <li><a href="/">死亡隐私词云图</a></li>
                    <li><a href="/sw">危险因素死亡图</a></li>
                    <li><a href="/gg">因吸烟死亡人数</a></li>
{#                     <li><a href="/pie_rosetype/">各工作经验时长职位数量占总数量的百分比</a></li>#}
{#                     <li><a href="/Bar/">最低学历-工作经验与平均月薪</a></li>#}
                    <li>
                        </ul>

            </div>
</body>
</html>