<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Harm Of Smoking</title>
    <link rel="stylesheet" href="static/style.css"/>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>

<header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-bars mui-pull-right"></a>
        <div class="mui-input-row mui-search" sstyle="width:500px;">
            <input type="search" class="mui-input-speech mui-input-clear" placeholder="请输入关键词搜索">
        </div>
    </header>

<body>

<div class="nav">
                           <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/wx">危险因素死亡</a></li>
                    <li><a href="/yx">因吸烟死亡人数</a></li>
                   <li><a href="/xyzx">中国吸烟致死比例</a></li>
                     <li><a href="/xy">世界吸烟致死比例</a></li>
                     <li><a href="/nl">按年龄划分吸烟死亡人数</a></li>
                         <li><a href="/result">结论&总结</a></li>
                    </ul>


</div>

    <style type="text/css">
        /*去掉ul的样式*/
        ul{
            list-style:none;
        }
        /*去掉a标签的下划线*/
        a{
            text-decoration: none;
        }
        /*设置.nav的宽高、居中显示、下边框样式*/
        .nav{
            width: 970px;
            height: 25px;
            margin: 0 auto;
            border-bottom: 2px solid 		#8B0000;
        }
        /*line-height: 25px;与父元素.nav的height一样，使得li居中显示*/
        .nav li{
            padding:0 15px 0 15px;
            line-height: 25px;
            float: left;
            font-size: 14px;
            font-weight: bold;
        }
        /*a标签不能继承父标签的颜色，所以需要单独设置a标签中的字体颜色*/
        .nav li a{
            color: 	#8B0000;
        }
        /*当鼠标移动到li标签时，背景颜色变成	#8B0000，出现一个盒阴影*/
        .nav li:hover{
            background-color:	#8B0000 ;
            box-shadow: 5px 5px 5px black;
        }
        /*当鼠标移动到li标签时，a标签中的字体颜色变成	#8B0000*/
        .nav  li:hover  a{
            color: white;
        }

        footer {text-align:center;}
    </style>

<div align="center">
    <br><h2>接下来展示的是因吸烟导致的癌症死亡的比例，可以看出全球超过五分之一的癌症死亡是吸烟导致的。</h2><br>
    <div id="d4ca5be59a5f4820a3c8228f83522783" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d4ca5be59a5f4820a3c8228f83522783 = echarts.init(
            document.getElementById('d4ca5be59a5f4820a3c8228f83522783'), 'white', {renderer: 'canvas'});
        var option_d4ca5be59a5f4820a3c8228f83522783 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u6b7b\u4ea1\u6bd4\u4f8b",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "Afghanistan",
                    "value": 20.3
                },
                {
                    "name": "Albania",
                    "value": 28.0
                },
                {
                    "name": "Algeria",
                    "value": 7.4
                },
                {
                    "name": "American Samoa",
                    "value": 22.4
                },
                {
                    "name": "Andorra",
                    "value": 22.4
                },
                {
                    "name": "Angola",
                    "value": 10.2
                },
                {
                    "name": "Antigua and Barbuda",
                    "value": 5.2
                },
                {
                    "name": "Argentina",
                    "value": 22.0
                },
                {
                    "name": "Armenia",
                    "value": 29.2
                },
                {
                    "name": "Australasia",
                    "value": 23.3
                },
                {
                    "name": "Australia",
                    "value": 23.5
                },
                {
                    "name": "Austria",
                    "value": 24.7
                },
                {
                    "name": "Azerbaijan",
                    "value": 22.2
                },
                {
                    "name": "Bahamas",
                    "value": 11.1
                },
                {
                    "name": "Bahrain",
                    "value": 19.3
                },
                {
                    "name": "Bangladesh",
                    "value": 38.3
                },
                {
                    "name": "Barbados",
                    "value": 5.7
                },
                {
                    "name": "Belarus",
                    "value": 25.5
                },
                {
                    "name": "Belgium",
                    "value": 33.0
                },
                {
                    "name": "Belize",
                    "value": 16.0
                },
                {
                    "name": "Benin",
                    "value": 10.4
                },
                {
                    "name": "Bermuda",
                    "value": 24.9
                },
                {
                    "name": "Bhutan",
                    "value": 7.8
                },
                {
                    "name": "Bolivia",
                    "value": 9.2
                },
                {
                    "name": "Bosnia and Herzegovina",
                    "value": 33.6
                },
                {
                    "name": "Botswana",
                    "value": 22.0
                },
                {
                    "name": "Brazil",
                    "value": 17.0
                },
                {
                    "name": "Brunei",
                    "value": 21.4
                },
                {
                    "name": "Bulgaria",
                    "value": 26.3
                },
                {
                    "name": "Burkina Faso",
                    "value": 4.6
                },
                {
                    "name": "Burundi",
                    "value": 4.8
                },
                {
                    "name": "Cambodia",
                    "value": 26.8
                },
                {
                    "name": "Cameroon",
                    "value": 12.1
                },
                {
                    "name": "Canada",
                    "value": 33.4
                },
                {
                    "name": "Cape Verde",
                    "value": 19.8
                },
                {
                    "name": "Caribbean",
                    "value": 21.4
                },
                {
                    "name": "Central African Republic",
                    "value": 12.3
                },
                {
                    "name": "Central Asia",
                    "value": 20.1
                },
                {
                    "name": "Central Europe",
                    "value": 31.4
                },
                {
                    "name": "Central Sub-Saharan Africa",
                    "value": 8.4
                },
                {
                    "name": "Chad",
                    "value": 9.1
                },
                {
                    "name": "Chile",
                    "value": 14.3
                },
                {
                    "name": "China",
                    "value": 22.0
                },
                {
                    "name": "Colombia",
                    "value": 11.5
                },
                {
                    "name": "Comoros",
                    "value": 4.5
                },
                {
                    "name": "Congo",
                    "value": 11.1
                },
                {
                    "name": "Costa Rica",
                    "value": 5.3
                },
                {
                    "name": "Cote d'Ivoire",
                    "value": 4.5
                },
                {
                    "name": "Croatia",
                    "value": 30.0
                },
                {
                    "name": "Cuba",
                    "value": 33.2
                },
                {
                    "name": "Cyprus",
                    "value": 21.8
                },
                {
                    "name": "Czech Republic",
                    "value": 25.9
                },
                {
                    "name": "Democratic Republic of Congo",
                    "value": 7.0
                },
                {
                    "name": "Denmark",
                    "value": 32.3
                },
                {
                    "name": "Djibouti",
                    "value": 4.9
                },
                {
                    "name": "Dominica",
                    "value": 12.7
                },
                {
                    "name": "Dominican Republic",
                    "value": 11.7
                },
                {
                    "name": "East Asia",
                    "value": 22.8
                },
                {
                    "name": "Eastern Europe",
                    "value": 24.3
                },
                {
                    "name": "Eastern Sub-Saharan Africa",
                    "value": 4.6
                },
                {
                    "name": "Ecuador",
                    "value": 5.3
                },
                {
                    "name": "Egypt",
                    "value": 8.1
                },
                {
                    "name": "El Salvador",
                    "value": 5.3
                },
                {
                    "name": "England",
                    "value": 30.6
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 12.8
                },
                {
                    "name": "Eritrea",
                    "value": 3.8
                },
                {
                    "name": "Estonia",
                    "value": 25.1
                },
                {
                    "name": "Ethiopia",
                    "value": 4.1
                },
                {
                    "name": "Fiji",
                    "value": 5.6
                },
                {
                    "name": "Finland",
                    "value": 20.3
                },
                {
                    "name": "France",
                    "value": 28.6
                },
                {
                    "name": "Gabon",
                    "value": 7.5
                },
                {
                    "name": "Gambia",
                    "value": 5.5
                },
                {
                    "name": "Georgia",
                    "value": 25.5
                },
                {
                    "name": "Germany",
                    "value": 26.7
                },
                {
                    "name": "Ghana",
                    "value": 3.9
                },
                {
                    "name": "Greece",
                    "value": 32.5
                },
                {
                    "name": "Greenland",
                    "value": 57.1
                },
                {
                    "name": "Grenada",
                    "value": 11.6
                },
                {
                    "name": "Guam",
                    "value": 40.5
                },
                {
                    "name": "Guatemala",
                    "value": 3.0
                },
                {
                    "name": "Guinea",
                    "value": 10.3
                },
                {
                    "name": "Guinea-Bissau",
                    "value": 10.8
                },
                {
                    "name": "Guyana",
                    "value": 4.0
                },
                {
                    "name": "Haiti",
                    "value": 13.0
                },
                {
                    "name": "High-income",
                    "value": 27.8
                },
                {
                    "name": "Honduras",
                    "value": 7.0
                },
                {
                    "name": "Hungary",
                    "value": 38.4
                },
                {
                    "name": "Iceland",
                    "value": 29.5
                },
                {
                    "name": "India",
                    "value": 10.8
                },
                {
                    "name": "Indonesia",
                    "value": 7.0
                },
                {
                    "name": "Iran",
                    "value": 15.8
                },
                {
                    "name": "Iraq",
                    "value": 16.0
                },
                {
                    "name": "Ireland",
                    "value": 28.2
                },
                {
                    "name": "Israel",
                    "value": 21.5
                },
                {
                    "name": "Italy",
                    "value": 27.4
                },
                {
                    "name": "Jamaica",
                    "value": 16.5
                },
                {
                    "name": "Japan",
                    "value": 15.4
                },
                {
                    "name": "Jordan",
                    "value": 15.0
                },
                {
                    "name": "Kazakhstan",
                    "value": 24.2
                },
                {
                    "name": "Kenya",
                    "value": 3.8
                },
                {
                    "name": "Kiribati",
                    "value": 22.6
                },
                {
                    "name": "Kuwait",
                    "value": 10.1
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 15.4
                },
                {
                    "name": "Laos",
                    "value": 25.2
                },
                {
                    "name": "Latin America and Caribbean",
                    "value": 13.8
                },
                {
                    "name": "Latvia",
                    "value": 25.5
                },
                {
                    "name": "Lebanon",
                    "value": 22.6
                },
                {
                    "name": "Lesotho",
                    "value": 26.4
                },
                {
                    "name": "Liberia",
                    "value": 4.6
                },
                {
                    "name": "Libya",
                    "value": 27.1
                },
                {
                    "name": "Lithuania",
                    "value": 25.5
                },
                {
                    "name": "Luxembourg",
                    "value": 27.5
                },
                {
                    "name": "Macedonia",
                    "value": 29.7
                },
                {
                    "name": "Madagascar",
                    "value": 3.4
                },
                {
                    "name": "Malawi",
                    "value": 5.5
                },
                {
                    "name": "Malaysia",
                    "value": 27.9
                },
                {
                    "name": "Maldives",
                    "value": 15.3
                },
                {
                    "name": "Mali",
                    "value": 3.3
                },
                {
                    "name": "Malta",
                    "value": 22.1
                },
                {
                    "name": "Marshall Islands",
                    "value": 17.5
                },
                {
                    "name": "Mauritania",
                    "value": 7.4
                },
                {
                    "name": "Mauritius",
                    "value": 13.9
                },
                {
                    "name": "Mexico",
                    "value": 7.1
                },
                {
                    "name": "Micronesia",
                    "value": 21.9
                },
                {
                    "name": "Moldova",
                    "value": 22.2
                },
                {
                    "name": "Mongolia",
                    "value": 30.2
                },
                {
                    "name": "Montenegro",
                    "value": 38.9
                },
                {
                    "name": "Morocco",
                    "value": 19.1
                },
                {
                    "name": "Mozambique",
                    "value": 5.6
                },
                {
                    "name": "Myanmar",
                    "value": 27.8
                },
                {
                    "name": "Namibia",
                    "value": 3.1
                },
                {
                    "name": "Nepal",
                    "value": 12.2
                },
                {
                    "name": "Netherlands",
                    "value": 33.0
                },
                {
                    "name": "New Zealand",
                    "value": 22.4
                },
                {
                    "name": "Nicaragua",
                    "value": 3.4
                },
                {
                    "name": "Niger",
                    "value": 6.1
                },
                {
                    "name": "Nigeria",
                    "value": 2.2
                },
                {
                    "name": "North Africa and Middle East",
                    "value": 18.6
                },
                {
                    "name": "North America",
                    "value": 35.7
                },
                {
                    "name": "North Korea",
                    "value": 51.8
                },
                {
                    "name": "Northern Ireland",
                    "value": 32.1
                },
                {
                    "name": "Northern Mariana Islands",
                    "value": 43.1
                },
                {
                    "name": "Norway",
                    "value": 24.1
                },
                {
                    "name": "Oceania",
                    "value": 19.3
                },
                {
                    "name": "Oman",
                    "value": 11.0
                },
                {
                    "name": "Pakistan",
                    "value": 18.0
                },
                {
                    "name": "Palestine",
                    "value": 23.7
                },
                {
                    "name": "Panama",
                    "value": 8.6
                },
                {
                    "name": "Papua New Guinea",
                    "value": 19.5
                },
                {
                    "name": "Paraguay",
                    "value": 16.9
                },
                {
                    "name": "Peru",
                    "value": 7.7
                },
                {
                    "name": "Philippines",
                    "value": 22.3
                },
                {
                    "name": "Poland",
                    "value": 33.3
                },
                {
                    "name": "Portugal",
                    "value": 21.2
                },
                {
                    "name": "Puerto Rico",
                    "value": 13.1
                },
                {
                    "name": "Qatar",
                    "value": 15.9
                },
                {
                    "name": "Romania",
                    "value": 29.4
                },
                {
                    "name": "Russia",
                    "value": 24.4
                },
                {
                    "name": "Rwanda",
                    "value": 3.9
                },
                {
                    "name": "Saint Lucia",
                    "value": 8.8
                },
                {
                    "name": "Saint Vincent and the Grenadines",
                    "value": 8.5
                },
                {
                    "name": "Samoa",
                    "value": 5.1
                },
                {
                    "name": "Sao Tome and Principe",
                    "value": 17.3
                },
                {
                    "name": "Saudi Arabia",
                    "value": 9.5
                },
                {
                    "name": "Scotland",
                    "value": 37.8
                },
                {
                    "name": "Senegal",
                    "value": 11.4
                },
                {
                    "name": "Serbia",
                    "value": 33.1
                },
                {
                    "name": "Seychelles",
                    "value": 15.7
                },
                {
                    "name": "Sierra Leone",
                    "value": 8.6
                },
                {
                    "name": "Slovakia",
                    "value": 25.3
                },
                {
                    "name": "Slovenia",
                    "value": 25.0
                },
                {
                    "name": "Solomon Islands",
                    "value": 22.0
                },
                {
                    "name": "Somalia",
                    "value": 2.8
                },
                {
                    "name": "South Africa",
                    "value": 22.1
                },
                {
                    "name": "South Asia",
                    "value": 14.2
                },
                {
                    "name": "South Sudan",
                    "value": 2.5
                },
                {
                    "name": "Southeast Asia",
                    "value": 26.7
                },
                {
                    "name": "Southern Latin America",
                    "value": 20.4
                },
                {
                    "name": "Southern Sub-Saharan Africa",
                    "value": 20.0
                },
                {
                    "name": "Spain",
                    "value": 26.4
                },
                {
                    "name": "Sri Lanka",
                    "value": 8.4
                },
                {
                    "name": "Sub-Saharan Africa",
                    "value": 7.4
                },
                {
                    "name": "Sudan",
                    "value": 11.1
                },
                {
                    "name": "Suriname",
                    "value": 13.7
                },
                {
                    "name": "Swaziland",
                    "value": 24.3
                },
                {
                    "name": "Sweden",
                    "value": 18.9
                },
                {
                    "name": "Switzerland",
                    "value": 24.1
                },
                {
                    "name": "Syria",
                    "value": 9.8
                },
                {
                    "name": "Taiwan",
                    "value": 33.4
                },
                {
                    "name": "Tajikistan",
                    "value": 6.2
                },
                {
                    "name": "Tanzania",
                    "value": 5.1
                },
                {
                    "name": "Thailand",
                    "value": 30.4
                },
                {
                    "name": "Timor",
                    "value": 14.9
                },
                {
                    "name": "Togo",
                    "value": 11.1
                },
                {
                    "name": "Tonga",
                    "value": 27.3
                },
                {
                    "name": "Trinidad and Tobago",
                    "value": 8.4
                },
                {
                    "name": "Tunisia",
                    "value": 25.8
                },
                {
                    "name": "Turkey",
                    "value": 32.3
                },
                {
                    "name": "Turkmenistan",
                    "value": 10.2
                },
                {
                    "name": "Uganda",
                    "value": 5.9
                },
                {
                    "name": "Ukraine",
                    "value": 23.4
                },
                {
                    "name": "United Arab Emirates",
                    "value": 18.1
                },
                {
                    "name": "United Kingdom",
                    "value": 31.4
                },
                {
                    "name": "United States",
                    "value": 36.0
                },
                {
                    "name": "Uruguay",
                    "value": 27.2
                },
                {
                    "name": "Uzbekistan",
                    "value": 11.2
                },
                {
                    "name": "Vanuatu",
                    "value": 21.1
                },
                {
                    "name": "Venezuela",
                    "value": 18.9
                },
                {
                    "name": "Vietnam",
                    "value": 45.8
                },
                {
                    "name": "Virgin Islands, U.S.",
                    "value": 17.4
                },
                {
                    "name": "Wales",
                    "value": 32.0
                },
                {
                    "name": "Western Europe",
                    "value": 27.9
                },
                {
                    "name": "Western Sub-Saharan Africa",
                    "value": 5.5
                },
                {
                    "name": "World",
                    "value": 22.1
                },
                {
                    "name": "Yemen",
                    "value": 15.5
                },
                {
                    "name": "Zambia",
                    "value": 5.3
                },
                {
                    "name": "Zimbabwe",
                    "value": 11.8
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6b7b\u4ea1\u6bd4\u4f8b"
            ],
            "selected": {
                "\u6b7b\u4ea1\u6bd4\u4f8b": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5438\u70df\u5bfc\u81f4\u764c\u75c7\u6b7b\u4ea1\u6bd4\u4f8b"
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 2.2,
        "max": 57.1,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140
    }
};
        chart_d4ca5be59a5f4820a3c8228f83522783.setOption(option_d4ca5be59a5f4820a3c8228f83522783);
    </script>

    <br><h3>美国，加拿大等发达国家吸烟导致癌症死亡比例普遍较高;</h3>
    <h3>而一些较为落后的国家，吸烟导致的癌症死亡比例较低。</h3><br><br>

    </div>
</body>


<footer>

    <div id="main" style="width:100%;">

        <div id="right" style="width:50%;float:left;" method="GET" action="/xyzx">
<p><input value="上一页" type="SUBMIT" ></p>
</div>

     <div id="left" style="width:50%;float:left;" method="GET" action="/nl">
<p><input value="下一页" type="SUBMIT" ></p>
</div>

</footer>


</html>
